<h1>Here is the results</h1>

<% data['Search'].forEach(function(holder) { %>

    <strong> <li> <%= holder["Title"] %>  - <%= holder["Year"] %> </li></strong>

 <% }) %>

<br>
<a href="/">Search Again</a>